<div class="ui-g-12 p-0 search-export">
  <button role="button" pButton type="button" label="Export" (click)="exportToExcel()"
    [disabled]="!searchResultCopy || searchResultCopy.length==0"></button>
  <span class="search-result" *ngIf="searchObj.searchResult && searchObj.searchResult.length">Total Results:
    {{searchObj.totalResults}}
    <span *ngIf="searchObj.message">( {{searchObj.message}} )</span>
  </span>
</div>
<p-accordion (onOpen)="onTabOpen($event)" [multiple]="true" [style]="{'margin-top':'45px'}">
  <p-accordionTab header="Document Search" [selected]="isSearchSelected" [disabled]="selectedItem.length!==0">
    <div [ngClass]="{'hidden':!selectedItem || selectedItem.length!==0}">
      <app-search-document [isSimpleSearch]="false" (onSearchComplete)="onSearchComplete($event)"
        (updateSearchResultCopy)="updateSearchResultCopy($event)" [data]="searchObj" [showSavedSearches]="true"
        [dataTableComponentRef]="dataTableComponentRef"></app-search-document>
    </div>
  </p-accordionTab>
  <p-accordionTab header="Search Result" [selected]="!isSearchSelected">
    <p-header>
      <span *ngIf="searchObj.searchResult && searchObj.searchResult.length===0">Search Result</span>
      <span *ngIf="searchObj.searchResult && searchObj.searchResult.length>0">
        Total {{searchObj.totalResults}} Records Found
      </span>
    </p-header>
    <div class="ui-g" *ngIf="searchObj.searchResult && searchObj.searchResult.length>0">
      <div class="ui-g-12 ">
        <doc-data-table [showCount]="true" [totalCount]="searchObj.totalResults" (sendData)="getData($event,sidemenu);"
          [showInfoIcon]="true" [tableData]="searchObj.searchResult" [tableDataStored]="searchObj.searchResult" [colHeaders]="colHeaders"
          [isLoadButtonDisabled]="isLastPage" [itemsPerPage]="searchpageSize?searchpageSize:searchCountLimit"
          [rowExpandable]="false" (sendPaginationInfoSearch)="getPaginationInfoSearch($event)"
          (addToCart)="addToCart($event)" [totalRecords]="searchObj.searchResult?searchObj.totalResults:0"
          (download)="downloadDoc($event)" [lazy]="false" [emptyMessage]="emptyMessage" [selectedRows]="selectedItem"
          [activePage]="'advanceSearch'" [showCheckBox]="true" (filteredGridItemsToExport)="getFilteredItems($event)">
        </doc-data-table>
      </div>
    </div>
  </p-accordionTab>
</p-accordion>
<div [ngClass]="{'hidden':!selectedItem || selectedItem.length===0}">
  <div #sidemenu class="aside-panel">
    <app-rightpanel (sendFolders)="getBrowseUpdated($event);" [currentScreen]="screen"
      (refreshScreen)="refresh($event);" (togglePanel)="toggle()" (toggleStrikeDeletedItem)="strikeDeletedItem($event)">
    </app-rightpanel>
  </div>
</div>
<div class="progress-bar">
  <div [cgBusy]=busy [cgBusyConfig]="{message: 'Please Wait...', backdrop: true}"></div>
</div>