<data-table (sendData)="getData($event)" [showInfoIcon]="false" [activePage]="'draft'" [showDownloadIcon]="false"
            [defaultSortField]="defaultSortField" [sortOrder]="-1"
    [showCheckBox]="false" [totalCount]="draftWorkitems.length" [showCount]="false" (viewDraftItems)="viewDraft($event)"
    (refreshScreen)="refreshTable()" [showAddCartIcon]="false" [tableData]="draftWorkitems" [colHeaders]="colHeaders"
    [itemsPerPage]="itemsPerPage" [rowExpandable]="false"></data-table>
<div class="progress-bar">
    <div [cgBusy]=busy [cgBusyConfig]="{message: 'Please Wait...', backdrop: true}"></div>
</div>
