<div class="ui-g">
  <div class="ui-g-12">
    <!--<div  [ngClass]="{'ui-g-11':showSavedSearches && savedSearchesHidden,'ui-g-9':showSavedSearches && !savedSearchesHidden,'ui-g-12':!showSavedSearches}">-->
    <div [ngClass]="{'ui-g-9':isSimpleSearch }">
      <form (ngSubmit)="searchDocument(true,'isbutton')" #searchForm="ngForm" class="form-center tabled-form"
        ngNativeValidate>
        <div class="ui-g-12">
          <div>
            <div class="ui-g-12">
              <div class="ui-g-2" style="background-color: gainsboro">
                <label>Search Text:</label>
              </div>
              <div class="ui-g-2">
                <p-dropdown [options]="data.matchTypes" [(ngModel)]="data.model.contentSearch.oper" 
                  name="oper"></p-dropdown>
              </div>
              <div class="ui-g-7">
                <span class="md-inputfield">
                  <input type="text" [style]="{'width':'480px'}" pInputText
                    (keyup)="validateStopWord($event,'0')"
                    [(ngModel)]="data.model.contentSearch.mvalues[0]" name="query">
                </span>
              </div>
            </div>
            <ng-container *ngIf="!isSimpleSearch">
              <div class="ui-g-12 form group">
                <div class="ui-g-2">
                  <label>Document Class:</label>
                </div>
                <div class="ui-g-3">
                  <p-dropdown [options]="data.documentClasses" [filter]="true"
                    [(ngModel)]="data.model.selectedDocumentClass"  name="matchType"
                    [disabled]="selectedSearch" (onChange)="switchDocumentClass()"></p-dropdown>
                </div>
                <div class="ui-g-2">
                  <label class="pull-right">{{data.isCurrent ? 'Current Version' : 'All Versions'}}</label>
                </div>
                <div class="ui-g-1">
                  <p-inputSwitch onLabel="All_Versions" offLabel="Current Version" [(ngModel)]="data.isCurrent"
                    [ngModelOptions]="{standalone: true}" [disabled]="!!(data.model.contentSearch.mvalues[0] && data.model.contentSearch.mvalues[0].length>0) ||
                                              createdByFieldSearch"></p-inputSwitch>
                </div>
                <div style="display: none" class="ui-g-2">
                  <label>Maximum result limit</label>
                </div>
                <div style="display: none" class="ui-g-1">
                  <p-spinner size="30" [(ngModel)]="data.maxRowLimit" [ngModelOptions]="{standalone: true}" 
                    [disabled]="!!(data.model.contentSearch.mvalues[0] && data.model.contentSearch.mvalues[0].length>0)">
                  </p-spinner>
                </div>
              </div>
              <div *ngIf="data.searchTemplate && data.searchTemplate.props">
                <div class="ui-g-6" *ngFor="let dynamicProp of dynamicProps;let i=index;">
                  <div class="ui-g-4" [ngClass]="{'red-back': dynamicProp.selectedOption.symName === 'DateCreated'}">
                    <!--<b *ngIf="dynamicProp.selectedOption.symName==='DateCreated'" style="color:red">*</b>-->
                    <p-dropdown *ngIf="dynamicProp.selectedOption.symName !== 'DateCreated'"
                      [options]="dynamicProp.options" [(ngModel)]="dynamicProp.selectedOption" 
                      name="{{i}}f" (onChange)="propChanged(i)"></p-dropdown>
                    <label *ngIf="dynamicProp.selectedOption.symName === 'DateCreated'">Created Date</label>
                  </div>
                  <div class="ui-g-1 ">
                    <p-dropdown [options]="dynamicProp.selectedOption.operFields"
                      [(ngModel)]="dynamicProp.selectedOption.oper"  class="p-dropdownarrow-lg "
                      (onChange)="operChanged(dynamicProp)" name="{{i}}o"></p-dropdown>
                  </div>
                  <ng-container
                    *ngIf="dynamicProp.selectedOption && dynamicProp.selectedOption.dtype.toLowerCase()=='date' && dynamicProp.selectedOption.symName!=='DateCreated'"
                    class="form-group">
                    <div class="ui-g-3">
                      <p-calendar placeholder="From" dateFormat="dd-mm-yy" [showIcon]="true"
                        [(ngModel)]="dynamicProp.mvalues[0]" [readonlyInput]="true"
                        (onClearClick)="dynamicProp.mvalues[1]=null" [name]="dynamicProp.selectedOption.symName"
                        (onSelect)="fromDateChanged(dynamicProp)" [monthNavigator]="true" [yearNavigator]="true"
                        yearRange="1900:2030" [showButtonBar]="true">
                      </p-calendar>
                    </div>
                    <div class="ui-g-3">
                      <p-calendar placeholder="To" dateFormat="dd-mm-yy" [disabled]="!dynamicProp.mvalues[0] || dynamicProp.selectedOption.oper === '>='
                     || dynamicProp.selectedOption.oper === '<=' || dynamicProp.selectedOption.oper === 'is equal to' "
                        [readonlyInput]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"
                        [showIcon]="true" [(ngModel)]="dynamicProp.mvalues[1]" [minDate]="dynamicProp.minDate"
                        [name]="dynamicProp.selectedOption.symName+'2'" [showButtonBar]="true"></p-calendar>
                    </div>
                  </ng-container>
                  <ng-container
                    *ngIf="dynamicProp.selectedOption && dynamicProp.selectedOption.dtype.toLowerCase()=='date' && dynamicProp.selectedOption.symName==='DateCreated'"
                    class="form-group">
                    <div class="ui-g-3">
                      <p-calendar  [required]="true" [attr.required]="true" placeholder="From"
                        dateFormat="dd-mm-yy" [showIcon]="true" [(ngModel)]="dynamicProp.mvalues[0]"
                        [readonlyInput]="true" (onClearClick)="dynamicProp.mvalues[1]=null"
                        [name]="dynamicProp.selectedOption.symName" (onSelect)="fromDateChangedCreated(dynamicProp)"
                        [minDate]="minFromCreated" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"
                        [showButtonBar]="true">
                      </p-calendar>
                    </div>
                    <div class="ui-g-3">
                      <p-calendar  [required]="true" [attr.required]="true" placeholder="To"
                        dateFormat="dd-mm-yy" [disabled]="!dynamicProp.mvalues[0] || dynamicProp.selectedOption.oper === '>='
                     || dynamicProp.selectedOption.oper === '<=' || dynamicProp.selectedOption.oper === 'is equal to' "
                        (onFocus)="onFocusToDate(dynamicProp)" [readonlyInput]="true" [monthNavigator]="true"
                        [yearNavigator]="true" yearRange="1900:2030" (onSelect)="toDateChangedCreated(dynamicProp)"
                        [showIcon]="true" [(ngModel)]="dynamicProp.mvalues[1]" [minDate]="dynamicProp.minDate"
                        [maxDate]="maxToCreated" [name]="dynamicProp.selectedOption.symName+'2'" [showButtonBar]="true">
                      </p-calendar>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="dynamicProp.selectedOption && (dynamicProp.selectedOption.dtype.toLowerCase()=='string' ||
                  dynamicProp.selectedOption.dtype.toLowerCase()=='long'  || dynamicProp.selectedOption.dtype.toLowerCase() =='integer') && !dynamicProp.selectedOption.lookups &&
                  !(dynamicProp.selectedOption.symName.toLowerCase()==='creator')" class="form-group">
                    <div class="ui-g-6">
                      <span
                        (click)="(!(excepClassNames && excepClassNames.indexOf(data.model.selectedDocumentClass.etName.toLowerCase())> -1) && (dynamicProp.selectedOption.symName.toLowerCase()==='documentfrom' || dynamicProp.selectedOption.symName.toLowerCase()==='documentto')) ? openListDialog(dynamicProp.selectedOption.symName):''"
                        class="md-inputfield">
                        <input id="placeholder{{dynamicProp.selectedOption.symName}}Search" class="w-80-per"
                          [placeholder]="(!(excepClassNames && excepClassNames.indexOf(data.model.selectedDocumentClass.etName.toLowerCase())> -1) && (dynamicProp.selectedOption.symName.toLowerCase()==='documentfrom' || dynamicProp.selectedOption.symName.toLowerCase()==='documentto')) ? 'Click Here To Select' :''"
                          [disabled]="(!(excepClassNames && excepClassNames.indexOf(data.model.selectedDocumentClass.etName.toLowerCase())> -1) && (dynamicProp.selectedOption.symName.toLowerCase()==='documentfrom' || dynamicProp.selectedOption.symName.toLowerCase()==='documentto'))"
                          [title]="dynamicProp.mvalues[0]?dynamicProp.mvalues[0]:''" type="text" pInputText
                          (keypress)="dynamicProp.selectedOption.dtype.toLowerCase()=='long'  || dynamicProp.selectedOption.dtype.toLowerCase() =='integer'?isNumber($event):''"
                          [(ngModel)]="dynamicProp.mvalues[0] " name="{{'ab'+i}}"
                          (keyup)="dynamicProp.selectedOption.symName==='DocumentTitle' && (!data.model.contentSearch.mvalues[0] ||  (data.model.contentSearch.mvalues[0] && data.model.contentSearch.mvalues[0].trim().length===0))?validateStopWord($event,'0'):''">

                        <span class="close close-right"
                          *ngIf="(dynamicProp.mvalues[0] && !(excepClassNames && excepClassNames.indexOf(data.model.selectedDocumentClass.etName.toLowerCase())> -1) && (dynamicProp.selectedOption.symName.toLowerCase()==='documentfrom' || dynamicProp.selectedOption.symName.toLowerCase()==='documentto'))"
                          (click)="clearDocToFrom(dynamicProp)">&times;</span>
                      </span>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="dynamicProp.selectedOption && dynamicProp.selectedOption.symName &&
                  (dynamicProp.selectedOption.symName.toLowerCase()==='creator')" class="form-group">
                    <div class="ui-g-6">
                      <p-autoComplete [(ngModel)]="dynamicProp.mvalues[0]" [suggestions]="userSearchSuggestion"
                        [ngModelOptions]="{standalone: true}" (completeMethod)="getUserSuggestion($event)"
                        (onSelect)="usersSelected($event);" (onClear)="clearSelection($event)"
                        (onpaste)="getUserSuggestion($event)" (onUnselect)="clearSelection($event)" [size]="30"
                        placeholder="Search User" [minLength]="3" appendTo="body" [multiple]="false" field="label">
                        <!--<ng-template let-selectedUser pTemplate="selectedItem">
                            <span class="pull-left">{{selectedUser.label}}</span>
                            &lt;!&ndash;<span class="pull-left">{{selectedUser.login}}</span>
                            <span class="pull-right font-light">{{selectedUser.name}}</span>&ndash;&gt;
                        </ng-template>-->
                      </p-autoComplete>
                    </div>
                  </ng-container>
                  <ng-container
                    *ngIf="dynamicProp.selectedOption && dynamicProp.selectedOption.lookups && dynamicProp.selectedOption.lookups.length>0"
                    class="form-group">
                    <div class="ui-g-6">
                      <p-dropdown [options]="dynamicProp.selectedOption.lookups" placeholder="Select"
                        [(ngModel)]="dynamicProp.mvalues[0]"  (click)="onClickLookup(dynamicProp.selectedOption)" 
                        name="{{dynamicProp.selectedOption.symName}}" [filter]="true" filterBy="label,value.name">
                      </p-dropdown>
                    </div>
                  </ng-container>
                  <div class="ui-g-1">
                    <button pButton type="button" icon="ui-icon-clear" class="remove-btn"
                      [disabled]="dynamicProp.selectedOption && dynamicProp.selectedOption.dtype.toLowerCase()=='date' && dynamicProp.selectedOption.symName==='DateCreated'"
                      (click)="removeProp(i)"></button>
                  </div>
                </div>
                <div class="ui-g-12 form-group">
                  <div>
                    <button pButton type="button" label="Add More" class="pull-left" (click)="addDynamicProp()"
                      [disabled]="(dynamicProps.length>0 && dynamicProps[0].options && dynamicProps[0].options.length===1) "></button>
                  </div>
                </div>

              </div>
            </ng-container>
            <tr>
              <td colspan="9" align="right">
                <button [disabled]="(!data.model.contentSearch.mvalues[0] && searchIsEmpty()) || !searchButtonDisabledStopWord
                        || isSimpleSearch && !(data.model.contentSearch.mvalues[0] && data.model.contentSearch.mvalues[0].length>2)
                        || !data.maxRowLimit || data.maxRowLimit<=0 || searchForm.form.invalid || !searchForm.valid"
                  pButton label="Search" class="pull-right" style="margin-bottom:10px;width:auto"></button>
                <button *ngIf="showSavedSearches" pButton type="button" [label]="selectedSearch?'Update':'Save'"
                  class="pull-right m-r-md" style="margin-bottom:10px;width:auto" (click)="initSaveSearch()" [disabled]="(!data.model.contentSearch.mvalues[0] && searchIsEmpty())
                        || !data.maxRowLimit || data.maxRowLimit<=0"></button>
                <button *ngIf="showSavedSearches && selectedSearch" pButton type="button" label="Reset To Default"
                  class="pull-right m-r-md" style="margin-bottom:10px;width:auto" (click)="resetToDefault()"></button>
                <button pButton (click)="clearSearch();" type="button" label="Clear" class="pull-right m-r-md"
                  style="margin-bottom:10px;width:auto"
                  [disabled]="(!data.model.contentSearch.mvalues[0] && searchIsEmpty())"></button>
                <!--            <button  pButton  (click)="continueSearch();" type="button"
                                    label="Continue Search" class="pull-right m-r-md" style="margin-bottom:10px;width:auto"></button>-->
              </td>
              <p-messages [(value)]="msgs"></p-messages>
            </tr>
          </div>

        </div>
        <div class="ui-g-4"
          *ngIf="showSavedSearches && !savedSearchesHidden && data.searchTemplate && data.searchTemplate.props ">
          <div class="user-list">
            <p-panel>
              <p-header>
                Saved Searches <a href="javascript:" class="white-text pull-right underline"
                  (click)="savedSearchesHidden=true">Hide</a>
              </p-header>
              <div class="bold w-100 text-align-center"
                *ngIf="documentService.savedSearches && documentService.savedSearches.length===0">
                No Saved Search Found
              </div>
              <table class="ecm-table w-100">
                <tbody>
                  <tr *ngFor="let search of documentService.savedSearches;let i=index;" class="item"
                    [ngClass]="{'even':i%2===0 && search!==selectedSearch,'clickable':''}">
                    <td role="button" (click)="selectSearch(search)"
                      [ngClass]="{'ui-state-highlight':search===selectedSearch}">
                      <a href="javascript:"
                        [ngClass]="{'ui-state-highlight':search===selectedSearch}">{{search.name}}</a>
                    </td>
                    <td align="right" class="action-btn-group"
                      [ngClass]="{'ui-state-highlight':search===selectedSearch}">
                      <span class="action-btn-group-sm">
                        <button pButton type="button" icon="ui-icon-clear" (click)="removeSearch(search)" title="Delete"
                          class="remove-btn v-m pull-right"></button>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </p-panel>

          </div>
        </div>
        <div class="ui-g-1"
          *ngIf="showSavedSearches && savedSearchesHidden && data.searchTemplate && data.searchTemplate.props">
          <div class="bold w-100 text-align-center">
            <a href="javascript:" (click)="savedSearchesHidden=false">Show Saved Searches</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<p-dialog styleClass="p-0" appendTo="body" [modal]="true" showEffect="fade" [(visible)]="showSaveSearchModal"
   [style]="{ width: '650px' }" (onHide)="onSaveSearchModalHide()">
  <p-header>
    Show Saved Searches
  </p-header>
  <form #saveSearchForm="ngForm" novalidate>
    <div class="ui-g form-group">
      <div class="ui-g-12 ui-md-4">
        <label for="name">Name:<b style="color:red">*</b></label>
      </div>
      <div class="ui-g-12 ui-md-7">
        <input pInputText type="text" id="name" name="name" [(ngModel)]="saveSearchObj.name"
          (keyup.enter)="saveSearch()" maxlength="20" [required]="true"
          [ngClass]="{'ng-invalid ng-dirty':searchAlreadyExists}">
        <div *ngIf="searchAlreadyExists" class="error">Search With This Name Already Exists</div>
      </div>
    </div>
  </form>
  <p-footer>
    <button pButton class="pull-right" type="button" label="Save" [disabled]="!saveSearchForm.form.valid"
      (click)="saveSearch()"></button>
    <button pButton class="pull-right" type="button" label="Cancel" (click)="showSaveSearchModal=false"></button>
  </p-footer>
</p-dialog>
<p-dialog appendTo="body" [modal]="true" showEffect="fade" [(visible)]="showDesignation" width="550" height="550">
  <p-header> Select {{docToOrFrom}}</p-header>
  <div class="ui-g-12 ui-md-12">
    <div class="ui-widget-header" style="padding:2px 10px;border-bottom: 0 none">
      <!-- global filter -->
      <div class="ui-g">
        <div class="ui-g-10 p-0">
          <table>
            <tr>
              <td><i class="fa fa-search v-m m-r-md"></i></td>
              <td>
                <input #gb type="text" pInputText size="50" placeholder="Search Designation" style="color: #ffffff"
                  class="v-m p-0">
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <!-- <p-dataTable [style]="{'max-height':'450px','min-height':'450px'}" selectionMode="single" #dt [globalFilter]="gb"
      [value]="designation" [lazy]="false" [rows]="10" [paginator]="true"
      (onRowClick)="onSelectionChange($event.data,docToOrFrom);showDesignation=false" [totalRecords]="totalRecords"
      [responsive]="true" (onLazyLoad)="loadLazy($event,dt)" [selection]="selectedDesignation"
      [rowStyleClass]="getEmptyRow">
      <p-column field="value" header=""></p-column>
    </p-dataTable> -->
    <!-- <p-table selectionMode="single" #dt [globalFilterFields]!="gb"
      [value]="designation" [lazy]="false" [rows]="10" [paginator]="true"
      (onRowClick)="onSelectionChange($event,docToOrFrom);showDesignation=false" [totalRecords]="totalRecords"
      [responsive]="true" (onLazyLoad)="loadLazy($event,dt)" [selection]="selectedDesignation"
      >
      <p-columnFilter field="value" header=""></p-columnFilter>
    </p-table> -->
  </div>
</p-dialog>
<p-confirmDialog key="savedSearchRemoveConfirmation" [appendTo]="'body'"></p-confirmDialog>
<div class="progress-bar">
  <div [cgBusy]=busy [cgBusyConfig]="{message: 'Please Wait...', backdrop: true}"></div>
</div>
<div class="progress-bar">
  <div [cgBusy]=busySearchPagination [cgBusyConfig]="{message: 'Please Wait...', backdrop: true}"></div>
</div>