<div [ngClass]="{'hide-empty-message':!items}" class="user-list">
  <div [hidden]="isNoFoundMessage">
    <span class="pull-right" *ngIf="items && items.length>0">Found {{items.length}} Results</span>
    <span class="pull-right" *ngIf="items && items.length===0">No Results Found</span>
  </div>
  <table class="ecm-table w-100">
    <tbody>
      <ng-container *ngFor="let item of items;let i=index">
        <tr (mouseover)="mExistsInList(item)" class="item"
          [ngClass]="{'even':i%2===0 && !isNoAlternateRows,'clickable':isRowSelectable}">
          <td *ngIf="!isUserRoleNotList"><i [ngClass]="(item.appRole=='USER')?'fa fa-fw ui-icon-person':iconClass"></i></td>
          <td *ngIf="isUserRoleNotList"><i
              [ngClass]="(item.appRole=='USER')?'fa fa-fw ui-icon-person':'fa fa-fw ui-icon-people'"></i>
          </td>
          <td>
            <div class="w-100" *ngIf="!showTooltip">
              <span *ngIf="!clickable">
                <span *ngIf="item.name">{{item.name}}</span>
                <span *ngIf="item.fulName && !item.name">{{item.fulName}}</span>
              </span>
              <a *ngIf="clickable" (click)="mGetListMembers(item)">
                {{item.name}}
              </a>
            </div>
            <div class="w-100" *ngIf="showTooltip" (mouseover)="mGetItemMembers(item)" [escape]="false"
              pTooltip="{{item.members}}"
              [tooltipStyleClass]="tooltipPosition==='bottom'?'tooltip-min-width-sm':'tooltip-min-width'"
              [tooltipPosition]="tooltipPosition">
              <span *ngIf="!clickable"> <span *ngIf="item.name">{{item.name}}</span>
                <span *ngIf="item.fulName && !item.name">{{item.fulName}}</span>
              </span>
              <a *ngIf="clickable" (click)="mGetListMembers(item)">
                {{item.name}}
              </a>
            </div>
          </td>
          <td align="right" class="action-btn-group">
            <span class="action-btn-group-sm">
              <button *ngIf="showToBtn" pButton type="button" label="To" class="v-m" (click)="mAddToToList(item)"
              [disabled]="item.disabled || (clickable && (actionType==='Signature' || actionType==='Initial')) || (actionType==='Signature' && item.iseSignAllowed===0)
                  || (actionType==='MultiSign' && item.iseSignAllowed===0 && item.isInitalAllowed && item.isInitalAllowed===0)
                  || (actionType==='MultiSign' && item.iseSignAllowed===0 && item.isInitialAllowed && item.isInitialAllowed===0)
                  || (actionType==='MultiSign' && item.iseSignAllowed===0 && item.isIntialAllowed && item.isIntialAllowed===0)
                  || (actionType==='Initial' && item.isInitalAllowed===0)
                      || (actionType==='Initial' && item.isInitialAllowed===0)
                      || (actionType==='Initial' && item.isIntialAllowed===0)"
              ></button>
              <button *ngIf="showCcBtn" pButton type="button" label="CC" class="v-m" (click)="mAddToCCList(item)"
              [disabled]="item.disabled || actionType==='Signature' || actionType==='Initial' || actionType==='MultiSign'"></button>
             
              <button pButton type="button" icon="fa fa-fw ui-icon-add" (click)="mAddToList(item)" class="remove-btn v-m "
                *ngIf="showAddBtn" [disabled]="item.disabled"></button>
              <button *ngIf="showSelectBtn" pButton type="button" label="Select" class="v-m"
                (click)="mSelectToList(item)"></button>
            </span>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
