<div>
  <mat-tab-group (selectedTabChange)="sentGridTabChange($event.tab.textLabel,selectedTabIndex,true,false)"
    [(selectedIndex)]="selectedTabIndex" [@.disabled]="true">
    <mat-tab *ngFor="let tab of tabsList;let r=index;" label="{{tab.tabLabel}}">
      <ng-template mat-tab-label>
        <i *ngIf="tab.status==='INACTIVE'" class="material-icons">flash_off</i> {{tab.tabLabel }} <span
          class="badge m-l-sm ui-state-highlight" *ngIf="tab.tabCount > 0">{{tab.tabCount}}</span>
      </ng-template>
      <!-- Actions -->
      <div class="ui-g-12 ui-md-2 p-b-0 p-l-0 width-auto">
        <action-button (selectedAction)="getSelectedAction($event,dateBeforePanel)"
          (toggleFilter)="getFilterToggle($event)" [activePage]="'sent'" [actions]="actions"
          [selectedItemLength]="sentSelectedItem.length"  [tabStatus]="tab.status"
          [actionDisabled]="actionDisabled"
          [disableAction]="sentSelectedItem.length<=0" [disableFilter]="tab.quickFilterText!='' || tab.status==='INACTIVE'"
          [totalTableRecords]="tab.totalRecords" [hasFilterRes]="request && request.exportFilter || advanceFilterShown"
          (clearFilter)="resetAndCloseFilters()" [userId]="tab.recordId"></action-button>
        <p-overlayPanel [dismissable]="true" [style]="{'z-index':'999'}" #dateBeforePanel>
          <p-calendar appendTo="body" (onSelect)="selectBeforeDate($event)" [(ngModel)]="beforeDate" [inline]="true"
            [maxDate]="today" [readonlyInput]="true" [monthNavigator]="true" [yearNavigator]="true"
            yearRange="1900:2030"></p-calendar>
        </p-overlayPanel>
      </div>
      
      <!-- <p-confirmDialog key="taskDetailConfirmation" [appendTo]="taskDetailDialog"></p-confirmDialog> -->

      <!-- Columns -->
      <!-- <div class="ui-g-12 ui-md-2 p-b-0">
        <div class="ui-g-12 colMultiselect p-b-0 m-b-sm ">
          <mat-select #matMultiSelect placeholder="Columns" [(ngModel)]="selectedColumns"
            (selectionChange)="columnSelectionChanged($event)" multiple>
            <div (mouseleave)="matMultiSelect.close()">
              <mat-option *ngFor="let column of columns;" [value]="column.value">{{column.label}}</mat-option>
            </div>
          </mat-select>
        </div>
      </div> -->
      <!-- Export and Grouping Switch -->
      <div class="ui-g-12 ui-md-4 p-r-0 p-l-0 pull-right container-export-options">
        <div class="sub-container-export-options pull-right">
          <p-menubar [model]="sentTieredItems" styleClass="export-menuItem"></p-menubar>
        </div>
        <div class="colMultiselect p-b-0 m-r-lg p-t-sm pull-right container-gridview-options">
          <div class="sub-container-gridview-options">
            <span>{{gridViewOptions.grouped.text}}</span>
            <p-inputSwitch [(ngModel)]="userGridView" (onChange)="setDefaultSort()" onLabel="" offLabel="">
            </p-inputSwitch>
          </div>
        </div>
      </div>
      <!-- Filter -->
      <div class="ui-g-12 ui-md-12 hide p-0 filter">
        <app-filter (filterData)="getSentItems(true)" [filterQuery]="request" [activePage]="'sent'"
          [filterSenderoptions]="sender" [filterCount]="filterCount" [forOptions]="forOptions"
          [searchFromDashboard]="dashboardSearchQuery[tab.recordId]" [id]="tab.recordId"
          [filteredData]="sentWorkitems.workitems" [disableFilter]="tab.quickFilterText!=''"
          (clearFilter)="clearFilter()"></app-filter>
      </div>
      <!-- Data table -->
      <div class="min-height-400">
        <data-table *ngIf="userGridView === gridViewOptions.unGrouped.value" [lazy]="true" [emptyMessage]="emptyMessage"
          [defaultSortField]="tab.sortField" [sortOrder]="tab.sortDirection"
          (sendSortPagination)="assignSortNotPaginationInfo($event)" [totalRecords]="tab.totalRecords"
          [selectedRows]="sentSelectedItem" (refreshScreen)="refreshTable()" (sendData)="getData($event)"
          [showInfoIcon]="false" [showDownloadIcon]="false" [showAddCartIcon]="false"
          [tableData]="sentWorkitems.workitems" [colHeaders]="colHeaders" [itemsPerPage]="itemsPerPage"
          [rowExpandable]="false" [activePage]="'sent'" [userType]="tab.tabType" [userId]="tab.recordId"
          [workflowFilter]="request && request.exportFilter || advanceFilterShown"
          (toggleProgressDialogue)="showProgressDialogue($event)" [isSelectedRoleInActive]="tab.status ==='INACTIVE'"
          (toggleTrackSentitem)="showTrackSentitem($event,tab.tabType)" [tabNameIdentifier]="tab.tabIdentifier">
        </data-table>
        <data-table *ngIf="userGridView === gridViewOptions.grouped.value" [lazy]="true" [emptyMessage]="emptyMessage"
          [defaultSortField]="tab.sortField" [sortOrder]="tab.sortDirection" [rowGroupMode]="'subheader'"
          [groupField]="'recordGroupName'" [expandedRowsGroups]="expandedRowsGroups"
          [expandedRowsGroupsSubTotal]="expandedRowsGroupsSubTotal"
          (sendSortPagination)="assignSortNotPaginationInfo($event)" [totalRecords]="tab.totalRecords"
          [selectedRows]="sentSelectedItem" (refreshScreen)="refreshTable()" (sendData)="getData($event)"
          [showInfoIcon]="false" [showDownloadIcon]="false" [showAddCartIcon]="false"
          [tableData]="sentWorkitems.workitems" [colHeaders]="colHeaders" [itemsPerPage]="itemsPerPage"
          [rowExpandable]="false" [activePage]="'sent'" [userType]="tab.tabType" [userId]="tab.recordId"
          [workflowFilter]="request && request.exportFilter || advanceFilterShown"
          (toggleProgressDialogue)="showProgressDialogue($event)" [isSelectedRoleInActive]="tab.status ==='INACTIVE'"
          (toggleTrackSentitem)="showTrackSentitem($event,tab.tabType)" [tabNameIdentifier]="tab.tabIdentifier">
        </data-table>
      </div>

    </mat-tab>
  </mat-tab-group>

  <div #sentDialog></div>

  <p-confirmDialog #sentConfirmation key="sentitemConfirmation" [appendTo]="sentDialog"></p-confirmDialog>

  <!--<p-dialog styleClass="p-0" [styleClass]="'max-h-488'" appendTo="body" [modal]="true" showEffect="fade"
            [(visible)]="displayProgress"
            [height]="550" [width]="650" [contentStyle]="{'overflow':'auto'}"
            (onHide)="hideDisplayProgress()">
    <p-header>
      Work Progress
    </p-header>
    <app-document-status [workitemProgress]="selectedWorkitem.progress" [showAddBtn]="false"
                         (onRemoveProgress)="removeWorkitemProgress($event)"
                         (onAddProgress)="addWorkitemProgress($event)" [progressObj]="progressObj">
    </app-document-status>
  </p-dialog>-->
  <div #taskDetailDialog></div>
  <!-- <div *ngIf="AddUserDialog">
  <p-dialog  [appendTo]="'body'" [(visible)]="AddUserDialog" [modal]="true"  #addUserDialog
  (onHide)="closeAddUserModel()" [width]="1100" [styleClass]="'max-h-488'" [contentStyle]="{'overflow':'auto'}">
  <p-header>
    Add User
  </p-header>
  <app-recipients (prepareStepItems)="prepareStepItems()" [documentsData]="addUser.documents"
    [currentScreen]="'addUser'" [recipientsData]="addUser.recipients" (searchRoleList)="searchRoleList()">
  </app-recipients>
  <p-footer>
    <button pButton class="pull-right footer-btn-blue m-l-md" label="Cancel"
      (click)="cancelAddUserModel()"></button>
    <button class="pull-right footer-btn-blue" pButton
      [disabled]="!(addUser.recipients.toList.length > 0 || addUser.recipients.ccList.length > 0)" label="Add"
      (click)="adduserWorkitem()">
    </button>
  </p-footer>
</p-dialog>
</div> -->


<div *ngIf="AddUserDialog">
  <p-dialog [modal]="true" #addUserDialog  [appendTo]="sentDialog"  [resizable]="false" [(visible)]="AddUserDialog" [style]="{ width: '1000vw', height: '148px' }">
    <p-header>
      Add User
    </p-header>
    <app-recipients (prepareStepItems)="prepareStepItems()" [documentsData]="addUser.documents"
      [currentScreen]="'addUser'" [recipientsData]="addUser.recipients" (searchRoleList)="searchRoleList()">
    </app-recipients>
    <p-footer>
      <button pButton class="pull-right footer-btn-blue m-l-md" label="Cancel" (click)="cancelAddUserModel()"></button>
      <button class="pull-right footer-btn-blue" pButton
        [disabled]="!(addUser.recipients.toList.length > 0 || addUser.recipients.ccList.length > 0)" label="Add"
        (click)="adduserWorkitem()">
      </button>
    </p-footer>
  </p-dialog>
</div>
  <div *ngIf="showTrack">
    <p-dialog [modal]="true" #showTrackDialog [appendTo]="sentDialog" [resizable]="false" [(visible)]="showTrack"
       [style]="{ width: '1000px', height: '620px' }">
      <p-header>
        Track Preview
      </p-header>
      <div class="max-h-600">
        <p-table [value]="workitemHistory" [scrollable]="true" scrollHeight="600px" [resizableColumns]="true" styleClass="p-datatable-gridlines p-datatable-sm p-datatable-striped" [tableStyle]="{'min-width': '50rem'}">
          <ng-template pTemplate="header">
              <tr>
                  <th pResizableColumn *ngFor="let col of trackColHeaders">{{col.header}}</th>
                  <!-- <th pResizableColumn>Country</th>
                  <th pResizableColumn>Company</th>
                  <th pResizableColumn>Representative</th> -->
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-customer>
              <tr>
                  <td>{{customer.recipientName}}</td>
                  <td>{{customer.senderName}}</td>
                  <td>{{customer.sentOn}}</td>
                  <td>{{customer.actionUser}}</td>
                  <td>{{customer.status}}</td>
              </tr>
          </ng-template>
      </p-table>
        <!-- <p-dataTable [value]="workitemHistory" styleClass="scrollable" [responsive]="true" expandableRows="false"
          (onRowExpand)="showTrackWorkitem($event)" [rowExpandMode]="'single'" [responsive]="true" sortMode="multiple">
          <p-column *ngFor="let colHeader of trackColHeaders;" [hidden]="colHeader.hidden" field="{{colHeader.field}}"
            header="{{colHeader.header}}" [sortable]="true"
            [sortField]="colHeader.sortField?colHeader.sortField:colHeader.field"></p-column>
          <ng-template let-table pTemplate="rowexpansion">
            <div class="ui-grid ui-grid-responsive ui-fluid">
              <div class="ui-grid-row">
                <table *ngIf="trackWorkitemDetails" id="trackDetails" class="ecm-table inner-table w-100">
                  <tbody>
                    <tr>
                      <th class="text-align-left">Subject:</th>
                      <td>{{trackWorkitemDetails.subject}}</td>
                      <th class="text-align-left">Sender Name:</th>
                      <td>
                        <ng-container *ngIf="trackWorkitemDetails.senderName">{{trackWorkitemDetails.senderName}}
                        </ng-container>
                        <ng-container *ngIf="!trackWorkitemDetails.senderName">{{trackWorkitemDetails.senderRoleName}}
                        </ng-container>
                      </td>
                    </tr>
                    <tr class="even">
                      <th class="text-align-left">Status:</th>
                      <td>{{trackWorkitemDetails.status}}</td>
                      <th class="text-align-left">Type:</th>
                      <td>{{trackWorkitemDetails.type}}</td>
                    </tr>
                    <tr>
                      <th class="text-align-left">Received Date:</th>
                      <td>{{trackWorkitemDetails.receivedDate | date : 'dd/MM/yyyy hh:mm a'}}</td>
                      <th class="text-align-left">Due date:</th>
                      <td>{{trackWorkitemDetails.deadline | date : 'dd/MM/yyyy hh:mm a'}}</td>
                    </tr>
                    <tr class="even">
                      <th class="text-align-left">Reminder:</th>
                      <td>{{trackWorkitemDetails.reminder | date : 'dd/MM/yyyy hh:mm a'}}</td>
                      <th class="text-align-left">Priority:</th>
                      <td>{{trackWorkitemDetails.priority}}</td>
                    </tr>
                    <tr>
                      <th class="text-align-left">For:</th>
                      <td colspan="3">
                        <div class="text-ellipsis">{{trackWorkitemDetails.actions}}</div>
                      </td>
                    </tr>
                    <tr class="even">
                      <th class="text-align-left">Instructions:</th>
                      <td colspan="3" *ngIf="trackWorkitemDetails.instructions"
                        [innerHTML]="trackWorkitemDetails.instructions | safeHtml"></td>
                    </tr>
                    <tr>
                      <th class="text-align-left">Remarks:</th>
                      <td colspan="3">
                        <div class="text-ellipsis">{{trackWorkitemDetails.wiRemarks}}</div>
                      </td>
                    </tr>
                    <tr class="even">
                      <th class="text-align-left">Action Taken:</th>
                      <td colspan="3">
                        <div class="text-ellipsis">{{trackWorkitemDetails.actionTaken}}</div>
                      </td>
                    </tr>
                    <tr>
                      <th class="text-align-left">Keywords:</th>
                      <td colspan="3">
                        <div class="text-ellipsis">{{trackWorkitemDetails.Keywords}}</div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </ng-template>
        </p-dataTable> -->
      </div>
      <div class="progress-bar">
      </div>
    </p-dialog>
  </div>

  <p-dialog #delegationMsgDialog [closable]="false" [closeOnEscape]="false" [modal]="true" [appendTo]="sentDialog"
    [(visible)]="showDelegationInactiveDialog" [style]="{ width: '380vw', height: '148px' }">
    <p-header>
      Delegated user access has ended.
    </p-header>
    <p>Application will refresh now.</p>
    <p-footer>
      <button pButton class="pull-right" type="button" label="OK" (click)="reloadApp()"></button>
    </p-footer>
  </p-dialog>
</div>

<div class="progress-bar">
</div>
<div class="progress-bar">
  <div [cgBusy]=busy [cgBusyConfig]="{message: 'Please Wait...', backdrop: true}"></div>
</div>
<p-dialog [closable]="false" [closeOnEscape]="false" [modal]="true" [(visible)]="showOperationNotPossible"
  [style]="{ width: '380vw', height: '148px' }">
  <p-header>
  </p-header>
  <div>
    <p>{{messageDenyAction}}</p>
  </div>
  <p-footer>
    <button pButton class="pull-right" type="button" label="Close" (click)="showOperationNotPossible=false"></button>
  </p-footer>
</p-dialog>