<button pButton type="button" label="Export" (click)="exportToExcel();" class="pull-right m-b-sm"
  [disabled]="!gridItemsToExport || gridItemsToExport.length==0"></button>
<div *ngIf="favDocuments">
    <!-- <p-table [showCount]="true" [totalCount]="favDocuments.length" (sendData)="getData($event,sidemenu);"
    [emptyMessage]="emptyMessage" (refreshScreen)="refreshTable($event);" [tableData]="favDocuments"
    [activePage]="'favorites'" [colHeaders]="colHeaders" [showDownloadIcon]="false" [showAddCartIcon]="false"
    [selectedRows]="selectedItem" [showInfoIcon]="true" [itemsPerPage]="itemsPerPage" [rowExpandable]="false"
    [totalRecords]="favDocuments?favDocuments.length:0" (filteredGridItemsToExport)="getFilteredItems($event)">
  </p-table> -->
  <data-table [showCount]="true" [totalCount]="favDocuments.length" (sendData)="getData($event,sidemenu);"
  [emptyMessage]="emptyMessage" (refreshScreen)="refreshTable();" [tableData]="favDocuments" [tableDataStored]="favDocuments"
  [activePage]="'favorites'" [colHeaders]="colHeaders" [showDownloadIcon]="false" [showAddCartIcon]="false"
  [selectedRows]="selectedItem" [showInfoIcon]="true" [itemsPerPage]="itemsPerPage" [rowExpandable]="false"
  [totalRecords]="favDocuments?favDocuments.length:0" (filteredGridItemsToExport)="getFilteredItems($event)">
</data-table>
</div>
<div [ngClass]="{'hidden':!selectedItem || selectedItem.length===0}">
  <div #sidemenu class="aside-panel">
    <app-rightpanel (sendUpdate)="getFavUpdated($event);" (sendFolders)="getBrowseUpdated($event);"
      [currentScreen]="screen" (refreshScreen)="refresh($event);" (togglePanel)="toggle()"></app-rightpanel>
  </div>
</div>
<div class="progress-bar">
  <div [cgBusy]=busy [cgBusyConfig]="{message: 'Please Wait...', backdrop: true}"></div>
</div>
