<p-tabView styleClass="m-h-100" (onChange)="tabChange($event)" [activeIndex]="activeTab">
  <p-tabPanel header="General" leftIcon="fa fa-fw ui-icon-settings">
    <app-general></app-general>
  </p-tabPanel>
  <p-tabPanel header="List" leftIcon="fa fa-fw ui-icon-list">
    <app-list></app-list>
  </p-tabPanel>
  <p-tabPanel header="Out Of Office" leftIcon="fa fa-fw ui-icon-directions-walk">
    <app-delegation></app-delegation>
  </p-tabPanel>
  <p-tabPanel header="Sign Upload" leftIcon="fa fa-fw ui-icon-save">
    <app-esign></app-esign>
  </p-tabPanel>
</p-tabView>