<div class="ui-g-12 ui-md-12 p-t-0 p-r-0">
  <button pButton type="button" label="Export" (click)="exportToExcel();" class="pull-right"
    [disabled]="!adminLogs"></button>
</div>
<div class="ui-g-12  p-0 h-100">
  <div class="ui-widget-header" style="padding:2px 10px;border-bottom: 0 none">
    <!-- global filter -->
    <div class="ui-g">
      <div class="ui-g-12 p-0">
        <table>
          <tr>
            <!-- <td style="width: 2%;"><i class="fa fa-search v-m m-r-md"></i></td>
            <td style="width: 98%;">
              <input #gb type="text" pInputText size="50" placeholder="Filter Text" style="color: #ffffff; width: 30%;"
                class="v-m p-0">
            </td> -->
            <td>
              <button pButton type="button" icon="fa fa-fw ui-icon-autorenew" title="Refresh" (click)="refresh()"
                class="remove-btn v-m no-box-shadow"></button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="ui-g-12 p-0 max-h-600">
    <!-- <p-dataTable [resizableColumns]="true" [reorderableColumns]="true" [value]="adminLogs" [rows]="itemsPerPage"
      [paginator]="true" [responsive]="true" [globalFilter]="gb">
     
      <p-column [sortable]="true" field="id" header="Id"></p-column>
      <p-column [sortable]="true" field="type" header="Type"></p-column>
      <p-column [sortable]="true" field="username" header="Actioned By"></p-column>
      <p-column [sortable]="true" field="timeStamp" [sortField]="'timeStamp2'" header="Log Date"></p-column>
      
      <p-column styleClass="col-button">
       
        <ng-template let-dat="rowData" let-i="rowIndex" pTemplate="body">
          <button pButton type="button" icon="fa fa-fw ui-icon-info-outline" title="Info" (click)="viewErrors(dat)"
            class="remove-btn v-m"></button>
          
        </ng-template>
      </p-column>
    </p-dataTable> -->
    <p-table [value]="adminLogs" [resizableColumns]="true" [paginator]="true" #dt1
    [globalFilterFields]="['id', 'type', 'username', 'timeStamp2']"
    [rows]="itemsPerPage"
      styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm"  [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="caption"> 
        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="applyFilterGlobal($event, 'contains')"
            placeholder="Search keyword"
          />
        </span>  
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="text-align: center;" pResizableColumn pSortableColumn="id">Id<p-sortIcon field="id"></p-sortIcon></th>
          <th style="text-align: center;" pResizableColumn pSortableColumn="type">Type<p-sortIcon field="type"></p-sortIcon></th>
          <th style="text-align: center;" pResizableColumn pSortableColumn="username">Actioned By<p-sortIcon field="username"></p-sortIcon></th>
          <th style="text-align: center;" pResizableColumn pSortableColumn="timeStamp2">Log Date<p-sortIcon field="timeStamp2"></p-sortIcon></th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product let-i="rowIndex">
        <tr>
          <td>{{ product.id }}</td>
          <td>{{ product.type }}</td>
          <td>{{ product.username }}</td>
          <td>{{ product.timeStamp }}</td>
          
          <td>
            <button pButton type="button" icon="fa fa-fw ui-icon-info-outline" title="Info" (click)="viewErrors(product)"
            class="remove-btn v-m"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<p-dialog appendTo="body" [modal]="true" showEffect="fade" [(visible)]="openDetails" width="600" height="450">
  <p-header>
    Log Details
  </p-header>
  <div class="ui-tabview-panel folder-path-selection-model">
    <span>{{details}}</span>
  </div>
</p-dialog>
<p-dialog *ngIf="allLogs" [modal]="true" showEffect="fade" [(visible)]="viewLogs" width="600">
  <p-header>
    {{allLogs.type}}
  </p-header>
  <table class="ecm-table  w-100">
    <tbody>
      <tr class="even">
        <th style="width:26%" class="text-align-left">Id:</th>
        <td>{{allLogs.id}}</td>
      </tr>
      <tr>
      <tr class="odd">
        <th style="width:26%" class="text-align-left">Type:</th>
        <td> {{allLogs.type}}</td>
      </tr>
      <tr class="even">
        <th style="width:26%" class="text-align-left">User Name:</th>
        <td>{{allLogs.username}}</td>
      </tr>
      <tr class="odd">
        <th style="width:26%" class="text-align-left">Log Date:</th>
        <td>{{allLogs.timeStamp}}</td>
      </tr>
      <tr class="even">
        <th style="width:26%" class="text-align-left">Details:</th>
        <td>{{allLogs.details}}</td>
      </tr>
    </tbody>
  </table>
</p-dialog>
<div class="progress-bar">
  <div [cgBusy]=busy [cgBusyConfig]="{message: 'Please Wait...', backdrop: true}"></div>
</div>