<button pButton type="button" label="Export" (click)="exportToExcel();" class="pull-right m-b-sm"
  [disabled]="!gridItemsToExport || gridItemsToExport.length==0"></button>
<div *ngIf="recDocuments">
  <!-- <p-table [showCount]="true" [totalCount]="recDocuments.length" (sendData)="getData($event,sidemenu)"
    [emptyMessage]="emptyMessage" (refreshScreen)="refreshTable($event);" [activePage]="'recents'"
    [tableData]="recDocuments" [showDownloadIcon]="false" [showAddCartIcon]="false" [showInfoIcon]="true"
    [totalRecords]="recDocuments?recDocuments.length:0" [colHeaders]="colHeaders" [itemsPerPage]="itemsPerPage"
    [rowExpandable]="false" [selectedRows]="selectedItem" (filteredGridItemsToExport)="getFilteredItems($event)">
  </p-table> -->
  <p-table  (sendData)="getData($event)"
     (refreshScreen)="refreshTable()" 
    
    (filteredGridItemsToExport)="getFilteredItems($event)">
</p-table>
</div>
<div [ngClass]="{'hidden':!selectedItem || selectedItem.length===0}">
  <!-- <ngx-aside #sidemenu [showDefaultFooter]="false" [showDefaultHeader]="false" [showOverlay]="false">
    <app-rightpanel (sendUpdate)="getRecUpdated($event);" (sendFolders)="getBrowseUpdated($event);"
      [currentScreen]="screen" (refreshScreen)="refresh($event);" (togglePanel)="toggle()"></app-rightpanel>
  </ngx-aside> -->
</div>
<div class="progress-bar">
  <div [cgBusy]=busy [cgBusyConfig]="{message: 'Please Wait...', backdrop: true}"></div>
</div>
