// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@font-face {
    font-family: 'Glyphicons';
    src: url('assets/fonts/glyphicons-halflings-regular.ttf') format('truetype');
  }
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ecm_15-primary: mat.define-palette(mat.$indigo-palette);
$ecm_15-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ecm_15-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ecm_15-theme: mat.define-light-theme((color: (primary: $ecm_15-primary,
                accent: $ecm_15-accent,
                warn: $ecm_15-warn,
            )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ecm_15-theme);

/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'material-icons/iconfont/material-icons.css';
// @import 'assets/css/custom.css';

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

// .ui-dropdown label.ui-dropdown-label {
//     height: 2.5em !important;
//     background: #607D8B !important;
//     color: white !important;
//     font-weight: 600 !important;
//     text-align: center !important;
//     display: flex !important;
//     align-items: center !important;
//     justify-content: center !important;
// }
.example-css-class {
    .ui-dropdown label.ui-dropdown-label {
        height: 2.5em !important;
        background: #607D8B !important;
        color: white !important;
        font-weight: 600 !important;
        text-align: center !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }
}

.dateHeaderMemo {
    .ui-widget-header {
        color: black;
    }
}

// .label23{
//     ui-g-1{
//         min-width:50px;
//     }
//   }

.ui-accordion-header {

    a:focus,
    a:hover {
        color: #23527c;
        text-decoration: none;
    }
}

.treeHeight .p-tree.p-component {
    height: 100%;
    overflow: auto;
}

.aside-panel {
    width: 300px;
    height: 100vh;
    padding: 0;
    background: #455A64;
    position: fixed;
    display: flex;
    align-items: stretch;
    max-width: 50%;
    z-index: 2;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.fa {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 18px !important;
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}
.p-button.p-button-icon-only{
    border-radius: 50% !important;
    height: 1.5rem !important;
    width: 1.5rem !important;
}
.txt:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #0074cc;
}
.ui-icon-record-voice-over::before{
    content: "record_voice_over";
}
.ui-icon-reply:before {
    content: "reply";
}
.ui-icon-apps::before{
    content:"apps"
}
.ui-icon-scanner::before{
    content: "scanner";
}
.ui-icon-people-outline::before{
    content: "people_outline";
}
.ui-clickable::before{
    content: "clickable";
}
.ui-icon-reply-all:before {
    content: "reply_all";
}

.ui-icon-forward:before {
    content: "forward";
}

.ui-icon-near-me:before {
    content: "near_me";
}

.ui-icon-flag:before {
    content: "flag";
}

.ui-icon-filter-list:before {
    content: "filter_list";
}

.ui-icon-autorenew:before {
    content: "autorenew";
}

.ui-icon-assignment-returned:before {
    content: "assignment_returned";
}

.ui-icon-description:before {
    content: "description";
}

.ui-icon-assignment:before {
    content: "assignment";
}

.ui-icon-unarchive:before {
    content: "unarchive";
}

.ui-icon-timeline:before {
    content: "timeline";
}

.ui-icon-hourglass-full:before {
    content: "hourglass_full";
}

.ui-icon-hourglass-empty:before {
    content: "hourglass_empty";
}

.ui-icon-remove-red-eye:before {
    content: "remove_red_eye";
}
.ui-icon-add::before{
    content: "add";
}
.ui-icon-star-border::before{
    content: "star_border";
}
.ui-icon-view-list::before{
    content: "view_list";
}
.ui-icon-remove::before {
    content: "remove";
}
.ui-icon-remove-circle-outline::before{
    content: "remove_circle_outline";
}
.ui-icon-arrow-back::before{
    content: "arrow_back";
}
.ui-icon-get-app::before{
    content: "get_app";
}
.ui-icon-info-outline::before{
    content: "info_outline";
}
.ui-icon-edit::before{
    content: "edit";
}
.ui-icon-block::before{
    content: "block";
}
.ui-icon-folder::before{
    content: "folder";
}
.ui-icon-comment::before{
    content: "comment";
}
.ui-icon-replay::before{
    content: "replay";
}
.ui-icon-person-add::before{
    content: "person_add";
}
.ui-icon-archive::before{
    content: "archive";
}
.ui-icon-check::before{
    content: "check";
}
.ui-icon-close::before{
    content: "close";
}
.ui-icon-star::before{
    content: "star";
}
.ui-icon-mail::before{
    content: "mail";
}
.ui-icon-save::before{
    content: "save";
}
.ui-icon-folder-special{
    content: "folder_special";
}
.ui-icon-launch::before{
    content: "launch";
}
.ui-icon-update::before{
    content: "update";
}
.ui-icon-file-edit::before{
    content: "file_edit";
}
.ui-icon-clear::before{
    content: "clear";
}
.ui-icon-folder-open::before{
    content: "folder_open";
}
.ui-icon-search::before{
    content: "search";
}
.ui-icon-insert-drive-file::before{
    content: "insert_drive_file";
}
.ui-icon-folder-shared::before{
    content: "folder_shared";
}
.ui-icon-personal-video::before{
    content: "personal_video";
}
.ui-icon-person::before{
    content: "person";
}
.ui-icon-restore::before{
    content: "restore";
}
.ui-icon-https::before{
    content: "https";
}
.ui-icon-filter-none::before{
    content: "filter_none";
}
.ui-icon-date-range::before{
    content: "date_range";
}
.ui-icon-chevron-right::before{
    content: "chevron_right";
}
.ui-icon-track-changes::before{
    content: "track_changes";
}
.ui-icon-today::before{
    content: "today";
}
.ui-icon-delete::before{
    content: "delete";
}
.ui-icon-account-circle::before{
    content: "account_circle";
}
.ui-icon-build::before{
    content: "build";
}
.ui-icon-navigate-next::before{
    content: "navigate_next";
}
.ui-icon-navigate-before::before{
    content: "navigate_before";
}
.ui-icon-vertical-align-center::before{
    content: "vertical_align_center";
}
.ui-icon-compare::before{
    content: "compare";
}
.ui-icon-input::before{
    content: "input";
}
.ui-icon-security::before{
    content: "security";
}
.ui-icon-beenhere::before{
    content: "beenhere";
}
.ui-icon-verified-user::before{
    content: "verified_user";
}
.ui-icon-arrow-drop-down-circle::before{
    content: "arrow_drop_down_circle";
}
.ui-icon-swap-horiz::before{
    content: "swap_horiz";
}
.ui-icon-supervisor-account::before{
    content: "supervisor_account";
}
.ui-icon-people-outline::before{
    content: "people_outline";
}
.ui-icon-people::before{
    content: "people";
}
.ui-icon-contacts::before{
    content: "contacts";
}
.ui-icon-view-stream::before{
    content: "view_stream";
}
.ui-icon-account-balance::before{
    content: "account_balance";
}
.ui-icon-event-busy::before{
    content: "event_busy";
}
.ui-icon-assignment-ind::before{
    content: "assignment_ind";
}
.ui-icon-assignment-late::before{
    content: "assignment_late";
}
.ui-icon-settings::before{
    content: "settings";
}
.ui-icon-list::before{
    content: "list";
}
.ui-icon-directions-walk::before{
    content: "directions_walk";
}
.ui-icon-shopping-cart::before{
    content: "shopping_cart";
}
.ui-icon-remove-circle::before{
    content: "remove_circle";
}
.ui-icon-today::before{
    content: "today";
}
.p-datatable-resizable-table>.p-datatable-thead>tr>th, .p-datatable-resizable-table>.p-datatable-tfoot>tr>td, .p-datatable-resizable-table>.p-datatable-tbody>tr>td {
    white-space: inherit !important;
}

.p-multiselect .p-multiselect-label{
    padding: 4px 8px !important;
}

.p-inputtext{
    padding: 4px 8px !important;
}

.p-datatable .p-sortable-column .p-sortable-column-icon {
    width: 12.5px !important;
    height: 12.5px !important;
    margin-left: 2px !important;
}

body .p-datatable .p-datatable-thead>tr>th {
    white-space: nowrap !important;
    text-align: center !important;
}
.autorenew{
    position: absolute !important;
    right: 5px !important;
}
.p-autoClass .p-inputtext{
    background-color: #607d8b !important;
    color: white !important;
}
.ecm-table1 td{
    padding: 4px 5px
}
.remarks-box .p-inputtext{
    border: 1px solid rgba(0, 0, 0, 0.38);
    color: black;
}
.Attach-From-ECM-File-System .p-inputtext{
    color: white;
}