/* .p-autoClass .p-inputtext{
    background-color: #607d8b !important;
    color: white !important;
} */
.quickSearch {
    background-color: #607d8b;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    height: 95% !important;
}

.quickSearch::placeholder {
    color: white !important;
    opacity: 1;
    /* Firefox */
}