
.div .ui-menu .ui-menu-dynamic .ui-widget .ui-widget-content .ui-corner-all .ui-helper-clearfix {
  display: block;
  visibility: visible;
  top: -102px;
  right: 0 !important;
  z-index: 1003;
  opacity: 1;
  /* padding-right: 20px; */
  min-width: 273px !important;
}


/* .ui-tabview-panels {
    height: 78vh;
    overflow: auto;
  } */

.custom-label {
  z-index: 777;
  position: absolute !important;
  right: 36px !important;
  margin-top: 1px;
}

.custom-button {
  z-index: 777;
  position: absolute !important;
  right: 3px !important;
  margin-top: -2px !important;
}

:host ::ng-deep.ck-editor__editable {
  height: 100px !important;
}

.glyphonButton {
  display: block;
  margin-left: auto;
  margin-top: -36px;
}

/* .glyphonButton {
  display: flex;
  justify-content: right;
  margin-top: -18px;
  padding-right: 10px;
} */

.attachment {
  margin-right: -4px;
  margin-left: -4px;
}

.prio {
  margin-top: -16px;
}

.listHeader {
  font-weight: 800;
  font-size: 25px;
  color: black;
}

:host ::ng-deep .datePicker .ui-inputtext {
  margin-right: 125px;

}

.buttonGroups {
  display: flex;
  justify-content: space-evenly;
}

.orgSearch {
  display: block;
  margin-left: auto;
  margin-top: -17px;
}

.ecmText {
  width: 149PX;
}

:host ::ng-deep .ck-editor__editable_inline {
  min-height: 300px !important;
}

.label23 {
  min-width: 50px;
  float: left;
  display: flex;
  /* justify-content: space-between; */
  margin-right: 20px
}

.docButton {
  display: flex;
  align-items: center;
  font-size: x-large;
  margin-top: -10px;
}


.ui-radiobutton-label-memo {
  padding: 2px 20px 2px 15px;
}

.border-container {
  border: solid rgba(0, 0, 0, 0.12);
  border-width: 1px;
  border-radius: 4px;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

:host ::ng-deep .p-autocomplete .p-autocomplete-multiple-container .p-autocomplete-token {
  background-color: #7CB342 !important;
  color: white !important;
  padding: 0px 5px !important;
  margin-left: -5px !important;
}

:host ::ng-deep .p-autocomplete .p-autocomplete-multiple-container .p-autocomplete-token:focus-visible {
  outline: transparent;
}

:host ::ng-deep .ecm-table td {
  padding: 4px 5px 4px 5px;
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-tasks:before {
  content: "\e137";
}
.border-ckeditor{
  border: 1px solid #ccced1;
}