<div class="ui-g-12 ui-md-12 p-t-0 p-r-0">
  <button pButton type="button" label="Export" (click)="exportToExcel();" class="pull-right"
    [disabled]="!ecmUserList"></button>
</div>
<div class="ui-g-12  p-0 h-100">
  <div class="ui-widget-header" style="padding:2px 10px;border-bottom: 0 none">
    <!-- global filter -->
    <div class="ui-g">
      <div class="ui-g-12 p-0">
        <table>
          <tr>
            <!-- <td style="width: 2%;"><i class="fa fa-search v-m m-r-md"></i></td>
            <td style="width: 98%;">
              <input #gb type="text" pInputText size="50" placeholder="Filter Text" style="color: #ffffff; width: 30%;"
                class="v-m p-0">
            </td> -->
            <td>
              <button pButton type="button" icon="fa fa-fw ui-icon-autorenew" title="Refresh" (click)="refresh()"
                class="remove-btn v-m no-box-shadow"></button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="ui-g-12  p-0 max-h-600">
    <!-- <p-dataTable [resizableColumns]="true" [reorderableColumns]="true" [value]="ecmUserList" [rows]="itemsPerPage"
      [paginator]="true" [responsive]="true" [globalFilter]="gb">
      <p-column [sortable]="true" field="id" header="Id"></p-column>
      <p-column [sortable]="true" field="userName" header="User Name"></p-column>
      <p-column [sortable]="true" field="fulName" header="Full Name"></p-column>
      <p-column [sortable]="true" field="KocId" header="Koc Id"></p-column>
      <p-column [sortable]="true" field="orgCode" header="Org Code"></p-column>
      <p-column [sortable]="true" field="title" header="Title"></p-column>
      <p-column [sortable]="true" field="mail" header="Mail"></p-column>
      <p-column [sortable]="true" field="esignAllowed" header="eSign Allowed"></p-column>
      <p-column [sortable]="true" field="initialAllowed" header="Initial Allowed"></p-column>
      <p-column [sortable]="true" field="status" header="Status"></p-column>
      <p-column styleClass="col-button" [style]="{'width':'60px'}">
        <ng-template let-rowdat="rowData" let-i="rowIndex" pTemplate="body">
          <button pButton type="button" icon="fa fa-fw ui-icon-info-outline" title="Info" (click)="viewUsers(rowdat)"
            class="remove-btn v-m"></button>
          <button pButton type="button" (click)="editUser(rowdat,i);showUserInfo=true;" icon="fa fa-fw ui-icon-edit" title="Edit"
            class="remove-btn v-m"></button>
        </ng-template>
      </p-column>
    </p-dataTable> -->
    <p-table [value]="ecmUserList" [resizableColumns]="true" #dt1
    [globalFilterFields]="['id', 'userName', 'fulName', 'KocId','orgCode', 'title', 'mail', 'esignAllowed','initialAllowed',]"
      styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm" [paginator]="true" [rows]="10"
      [showCurrentPageReport]="true" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="caption"> 
        <span class="p-input-icon-left ml-auto">
          <!--<i class="pi pi-search"></i>--> 
          <input
            pInputText
            type="text"
            (input)="applyFilterGlobal($event, 'contains')" class="quickSearch"
            placeholder="Search keyword"
          />
        </span>  
        <button class="autorenew"
                pButton type="button" icon="fa fa-fw ui-icon-autorenew" title="Refresh" (click)="reset()"></button>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="text-align: center;" pResizableColumn pSortableColumn="id">Id<p-sortIcon field="id"></p-sortIcon></th>
          <th style="text-align: center;" pResizableColumn pSortableColumn="userName">User Name<p-sortIcon field="userName"></p-sortIcon></th>
          <th style="text-align: center;" pResizableColumn pSortableColumn="fulName">Full Name<p-sortIcon field="fulName"></p-sortIcon></th>
          <th style="text-align: center;" pResizableColumn pSortableColumn="KocId">Koc Id<p-sortIcon field="KocId"></p-sortIcon></th>
          <th style="text-align: center;" pResizableColumn pSortableColumn="orgCode">Org Code<p-sortIcon field="orgCode"></p-sortIcon></th>
          <th style="text-align: center;" pResizableColumn pSortableColumn="title">Title<p-sortIcon field="title"></p-sortIcon></th>
          <th style="text-align: center;" pResizableColumn pSortableColumn="mail">mail<p-sortIcon field="mail"></p-sortIcon></th>
          <th style="text-align: center;" pResizableColumn pSortableColumn="esignAllowed">eSign allowed<p-sortIcon field="esignAllowed"></p-sortIcon></th>
          <th style="text-align: center;" pResizableColumn pSortableColumn="initialAllowed">Initial Allowed<p-sortIcon field="initialAllowed"></p-sortIcon></th>
          <th style="text-align: center;" pResizableColumn pSortableColumn="status">Status<p-sortIcon field="status"></p-sortIcon></th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product let-i="rowIndex">
        <tr>
          <td>{{ product.id }}</td>
          <td>{{ product.userName }}</td>
          <td>{{ product.fulName }}</td>
          <td>{{ product.KocId }}</td>
          <td>{{ product.orgCode }}</td>
          <td>{{ product.title }}</td>
          <td>{{ product.mail }}</td>
          <td>{{ product.esignAllowed }}</td>
          <td>{{ product.initialAllowed }}</td>
          <td>{{ product.status }}</td>
          <td>
            <button pButton type="button" icon="fa fa-fw ui-icon-info-outline" title="Info" (click)="viewUsers(product)"
              class="remove-btn v-m"></button>
            <button pButton type="button" (click)="editUser(product,i);showUserInfo=true;" icon="fa fa-fw ui-icon-edit"
              title="Edit" class="remove-btn v-m"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<div>
  <p-dialog [modal]="true" [(visible)]="showUserInfo" showEffect="fade" [style]="{width: '40vw',height:'40vh'}">
    <p-header>
      Edit User
    </p-header>
    <div class="ui-g-12 ui-md-10 min-height-200">
      <div class="ui-g form-group">
        <div class="ui-g-12 ui-md-4">
          <label>Name:</label>
        </div>
        <div class="ui-g-12 ui-md-8">
          <input type="text" pInputText [(ngModel)]="userModel.fulName" readonly name="names">
        </div>
        <div class="ui-g-12 ui-md-4">
          <label>eSign Allowed:</label>
        </div>
        <div class="ui-g-12 ui-md-8">
          <p-dropdown id="esignSelect" [options]="esignSelect" [(ngModel)]="userModel.iseSignAllowed"></p-dropdown>
        </div>
        <div class="ui-g-12 ui-md-4">
          <label>Initial Allowed:</label>
        </div>
        <div class="ui-g-12 ui-md-8">
          <p-dropdown id="initialSelect" [options]="initialSelect"
            [(ngModel)]="userModel.isInitialAllowed"></p-dropdown>
        </div>
        <div class="ui-g-12 ui-md-4">
          <label>Status:</label>
        </div>
        <div class="ui-g-12 ui-md-8">
          <p-dropdown id="status" [options]="status" [(ngModel)]="userModel.status"></p-dropdown>
        </div>
      </div>
    </div>
    <p-footer>
      <button pButton type="button" (click)="showUserInfo=false;" label="Cancel"></button>
      <button pButton type="button" label="Save" (click)="saveUser();showUserInfo=false;"></button>
    </p-footer>
  </p-dialog>
</div>
<p-dialog *ngIf="allusers" [modal]="true" showEffect="fade" [(visible)]="viewuser" [style]="{width: '70em'}">
  <p-header>
    {{allusers.fulName}}
  </p-header>
  <table class="ecm-table  w-100">
    <tbody>
      <tr class="even">
        <th style="width:26%" class="text-align-left">Id:</th>
        <td>{{allusers.id}}</td>
      </tr>
      <tr>
      <tr class="odd">
        <th style="width:26%" class="text-align-left">User Name:</th>
        <td> {{allusers.userName}}</td>
      </tr>
      <tr class="even">
        <th style="width:26%" class="text-align-left">Full Name:</th>
        <td>{{allusers.fulName}}</td>
      </tr>
      <tr class="odd">
        <th style="width:26%" class="text-align-left">Title:</th>
        <td>{{allusers.title}}</td>
      </tr>
      <tr class="even">
        <th style="width:26%" class="text-align-left">Koc Id:</th>
        <td>{{allusers.KocId}}</td>
      </tr>
      <tr class="odd">
        <th style="width:26%" class="text-align-left">Org Code:</th>
        <td>{{allusers.orgCode}}</td>
      </tr>
      <tr class="even">
        <th style="width:26%" class="text-align-left">Mail:</th>
        <td>{{allusers.mail}}</td>
      </tr>
      <tr class="odd">
        <th style="width:26%" class="text-align-left">eSign Allowed:</th>
        <td *ngIf="allusers.iseSignAllowed === 1">Yes</td>
        <td *ngIf="allusers.iseSignAllowed === 0">No</td>
      </tr>
      <tr class="even">
        <th style="width:26%" class="text-align-left">Initial Allowed:</th>
        <td *ngIf="allusers.isInitialAllowed === '1' || allusers.isInitialAllowed === 1">Yes</td>
        <td *ngIf="allusers.isInitialAllowed === '0' || allusers.isInitialAllowed === 0">No</td>
      </tr>
      <tr class="odd">
        <th style="width:26%" class="text-align-left">Status:</th>
        <td>{{allusers.status}}</td>
      </tr>
    </tbody>
  </table>
</p-dialog>
<div class="progress-bar">
  <div [cgBusy]=busy [cgBusyConfig]="{message: 'Please Wait...', backdrop: true}"></div>
</div>